@model BlockChain2.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityOfItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityOfItem)
        </dd>

    </dl>
    <div style="border: solid 2px black">
        <h4>@Html.DisplayNameFor(model => model.certs)</h4>
        <p>@Html.DisplayFor(model => model.certs)</p>
    </div>
    
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.itemID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
